*{
	margin:0px;
	padding:0px;
	font-size:15px;
}

.main {
	width:auto;
	height:480px;
	margin:20px;
	border:1px #999 solid;
	background:#eee;
	position:relative;
}

.left,.left img,.mid,.right{
	border:1px #999 solid;
}

/*左侧定位*/
.left {
	float:left;
	width:200px;
	height:120px;
	margin:20px 10px 20px 20px;
	background:#fff;
}

.left img {
	width:80px;
	height:80px;
	position:relative;
	top:20px;
	left:20px;
}

span {
	position:relative;
	top:-40px;
	left:30px;
}

/*右侧定位*/
.right {
	position:absolute;
	top:20px;
	right:20px;
	width:120px;
	background:#fff;
	padding:10px 0px;
}

.member img{
	width:80px;
	height:80px;
	padding:10px 20px;
}

/*中部定位*/
.mid {
	margin-left:240px;
	margin-top:20px;
	margin-right:160px;
	background:#fff;
	padding:20px;
}

